@model TMS.Models.Job

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Job</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.loadDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.loadDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrailerTypes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrailerTypes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoadType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoadType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.distanceOrigin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.distanceOrigin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.distanceDestination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.distanceDestination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.locationOrigin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.locationOrigin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.locationDestination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.locationDestination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.companyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.companyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.loadWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.loadWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.loadLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.loadLength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.comments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.comments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.postingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.postingDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
