@model IEnumerable<TMS.Models.Offer>

@{
    ViewData["Title"] = "Offers";
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobId)
            </th>
            @*
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            *@
            <th>
                @Html.DisplayNameFor(model => model.report)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.offerDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                Price
            </th>
            <th>
                @Html.DisplayNameFor(model => model.offerState)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobId)
            </td>
            @*
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            *@
            <td>
                @Html.DisplayFor(modelItem => item.report)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.offerDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @item.Job.price
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.offerState)
            </td>
            <td>
                    @if (User.IsInRole("Administrator") || User.IsInRole("Broker"))
                    {
                        <a asp-controller="Offer" asp-action="Accept" asp-route-id="@item.Id" class="btn btn-sm btn-primary">
                            Accept
                        </a> 
                        @:|
                    }

                    @if (User.IsInRole("Administrator") || User.IsInRole("Dispatcher"))
                    {
                        <a asp-controller="Offer" asp-action="Assign" asp-route-id="@item.Id" class="btn btn-sm btn-primary">
                            Accept
                        </a>
                        @:|
                    }
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
