@model TMS.Models.Trailer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Trailer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.trailerType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.trailerType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.licensePlate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.licensePlate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.registration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.registration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nextServiceDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nextServiceDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.specification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.specification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TruckId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TruckId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
