@model IEnumerable<TMS.Models.Trailer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.trailerType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.licensePlate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.registration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nextServiceDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.specification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TruckId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.trailerType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.licensePlate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.registration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nextServiceDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.specification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TruckId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
